<!--suppress ALL -->
<app-edit-form
  [loading]="loading"
  [visible]="visible"
  (onCancel)="onCancel()"
  (onSave)="onSubmit()"
  [title]="(edit ? 'Editar' : 'Novo') + ' cultura'"
>
  <form [formGroup]="editForm" id="edit-form" class="flex flex-col gap-3 min-w-72 max-w-96" (keyup.enter)="onSubmit()">
    <p-floatlabel variant="on">
      <p-select
        id="activity"
        class="w-full"
        [options]="activityList"
        formControlName="activityId"
        optionLabel="category"
        [loading]="loadingActivities"
        appendTo="body"
        dataKey="id"
        optionValue="id"
      />
      <label class="block text-sm font-medium text-gray-700 mb-1" for="state">Atividade</label>
    </p-floatlabel>
    <div class="flex gap-2 items-center">
      <p-floatlabel variant="on">
        <input
          id="name"
          formControlName="name"
          type="text"
          pInputText
          class="w-full"
        />
        <label class="block text-sm font-medium text-gray-700 mb-1" for="name">Nome</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="flex-2">
        <p-datePicker
          id="implantationDate"
          class="flex w-full"
          formControlName="implantationDate"
          showIcon
          [maxDate]="today"
          appendTo="body"
          dateFormat="dd/mm/yy"
        />
        <label class="block text-sm font-medium text-gray-700 mb-1" for="implantationDate">Data de implantação</label>
      </p-floatlabel>
    </div>
    <div class="flex items-center gap-2">
      <p-floatlabel variant="on">
        <p-input-number
          id="area"
          inputId="area"
          formControlName="area"
          mode="decimal"
          locale="pt-BR"
          [minFractionDigits]="2"
        />
        <label class="block text-sm font-medium text-gray-700 mb-1" for="area">Área</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-input-number
          id="lifeCycle"
          inputId="lifeCycle"
          formControlName="lifeCycle"
        />
        <label class="block text-sm font-medium text-gray-700 mb-1" for="lifeCycle">Vida útil</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-input-number
          id="unitValue"
          inputId="unitValue"
          formControlName="unitValue"
          mode="currency"
          currency="BRL"
        />
        <label class="block text-sm font-medium text-gray-700 mb-1" for="unitValue">Valor unitário</label>
      </p-floatlabel>
    </div>
    <p-toggle-button
      id="isDepreciable"
      formControlName="isDepreciable"
      onLabel="Depreciável"
      offLabel="Depreciável"
      onIcon="pi pi-check"
    />
  </form>
</app-edit-form>
