<!-- <div class="center-container">
  <div class="login-container">
    <p-card header="Login" class="login-card">
      <div class="text-center mb-3">
        <img src="assets/images/blocks/logos/hyper.svg" alt="Logo" height="50" class="mb-3">
        <h3>Welcome Back</h3>
        <p>Don't have an account? <a href="#" class="text-blue-500">Create one now!</a></p>
      </div>
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText placeholder="Enter your email" />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input id="password" type="password" pInputText placeholder="Enter your password" />
        </div>
        <div class="p-field-checkbox">
          <p-checkbox label="Remember me" [binary]="true"></p-checkbox>
        </div>
        <div class="text-right">
          <button pButton label="Sign In" icon="pi pi-user" class="p-button-rounded p-button-info" pRipple></button>
        </div>
      </div>
    </p-card>
</div> -->
