<p-select
  [options]="users"
  [(ngModel)]="customer"
  optionLabel="firstName"
  (onChange)="selectCustomer($event.value)"
  [loading]="loading"
  filter
  (onFilter)="changeName($event.filter)"
  [placeholder]="authService.user.firstName + ' ' + authService.user.lastName"
  emptyMessage=" "
  emptyFilterMessage=" "
  showClear
  size="small"
  appendTo="body"
  variant="outlined"
  class="!bg-[#FFFFFF88]"
>
  <ng-template let-customer pTemplate="selectedItem">
    <div class="item">
      <div>{{customer.firstName}} {{customer.lastName}}</div>
    </div>
  </ng-template>

  <ng-template let-customer pTemplate="item">
    <div class="item">
      <div>{{customer.firstName}} {{customer.lastName}}</div>
    </div>
  </ng-template>

  <ng-template pTemplate="empty"></ng-template>

  <ng-template pTemplate="footer">
    <div *ngIf="loading" class="p-2">
      <div *ngFor="let i of [1,2,3]" class="mb-4">
        <p-skeleton height="1rem" width="100%" styleClass="mb-1" />
        <p-skeleton height="1rem" width="70%" styleClass="mb-1" />
      </div>
    </div>
    <div *ngIf="loaded && !users.length; else typeName" class="p-2 mx-auto mb-4 text-center text-sm">
      Nenhum cliente encontrado
    </div>
    <ng-template #typeName>
      <div *ngIf="!users.length" class="p-2 mx-auto mb-4 text-center text-sm">
        Digite um nome para procurar
      </div>
    </ng-template>
  </ng-template>
</p-select>
