<div class="flex justify-end items-center w-full mb-4">
  <p-button
    severity="secondary"
    label="Nova cultura"
    icon="pi pi-plus"
    (onClick)="addCulture()"
  />
</div>
<app-lazy-table
  [table]="tableData"
  [loading]="loading"
  [pageSize]="pageSize"
  [total]="total"
  (onPageChange)="onPageChange($event)"
  (onActionClick)="onActionClick($event.event, $event.id, $event.row)"
/>
<app-edit-crop
  [visible]="editVisible"
  (onSave)="onSave()"
  (onClose)="onEditCancel()"
  [crop]="currentEdit"
></app-edit-crop>
