<div class="flex justify-end items-center w-full mb-4">
  <p-button
    severity="secondary"
    label="Nova exploração"
    icon="pi pi-plus"
    (onClick)="addProperty()"
  />
</div>
<app-lazy-table
  [table]="tableData"
  [loading]="loading"
  [(paginateData)]="paginateData"
  [total]="total"
  (onPaginate)="getActivities()"
  (onActionClick)="onActionClick($event.event, $event.id, $event.row)"
  (onNavigateClick)="onNavigateClick($event.event, $event.id, $event.row)"
/>
<app-edit-activity
  [visible]="editVisible"
  (onSave)="onSave()"
  (onClose)="onEditCancel()"
  [activity]="currentEdit"
></app-edit-activity>
