<app-edit-form
  [loading]="loading"
  [visible]="visible"
  (onCancel)="onCancel()"
  (onSave)="onSubmit()"
  title="Redefinir senha"
>
  <form [formGroup]="form" id="edit-form" class="flex flex-col gap-2" (keydown.enter)="onSubmit()">
    <p-floatlabel variant="on">
      <p-password
        id="oldPassword"
        formControlName="oldPassword"
        [toggleMask]="true"
        [feedback]="false"
      />
      <label class="block text-sm font-medium text-gray-700 mb-1" for="oldPassword">Senha atual</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-password
        id="newPassword"
        formControlName="newPassword"
        appendTo="body"
        promptLabel="Escolha uma senha"
        weakLabel="Muito fraca"
        mediumLabel="Média"
        strongLabel="Senha forte"
        [toggleMask]="true"
      />
      <label class="block text-sm font-medium text-gray-700 mb-1" for="newPassword">Nova senha</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-password
        id="confirmPassword"
        formControlName="confirmPassword"
        [toggleMask]="true"
        [feedback]="false"
      />
      <label class="block text-sm font-medium text-gray-700 mb-1" for="confirmPassword">Confirme a nova senha</label>
    </p-floatlabel>
  </form>
</app-edit-form>
