<p-menubar styleClass="!fixed m-4 !bg-dark-transparent backdrop-blur-md top-0 ml-2 left-32 right-2 z-20">
  <ng-template pTemplate="start">
    <h1 class="font-bold text-lg text-white uppercase">{{ title ? title : 'Smart Farm' }}</h1>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-4">
      <ng-template [ngIf]="authService.isAdmin() && customer()">
        <ng-container *ngTemplateOutlet="selectedTag; context: {
          severity: 'warn',
          icon: faUser,
          text: customer()?.username,
          url: '/users',
          tooltip: 'Trocar cliente',
          removable: true,
          removeTooltip: 'Voltar para minha conta'
        }" />
      </ng-template>
      <ng-container *ngTemplateOutlet="selectedTag; context: {
        severity: 'info',
        icon: faBuilding,
        text: property()?.name,
        url: '/manage/properties',
        tooltip: 'Trocar propriedade'
      }" />
      <p-button outlined rounded (click)="profileMenu.toggle($event)" styleClass="!p-0">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </p-button>
    </div>
  </ng-template>
</p-menubar>
<p-menu #profileMenu [model]="profileMenuItems" [popup]="true" />
<app-change-password [(visible)]="resetPasswordPopup" />

<ng-template #selectedTag
             let-severity="severity"
             let-icon="icon"
             let-text="text"
             let-url="url"
             let-tooltip="tooltip"
             let-removeTooltip="removeTooltip"
             let-removable="removable"
>
  <p-tag [severity]="severity" class="!gap-2">
    <fa-icon [icon]="icon" [fixedWidth]="true" [pTooltip]="tooltip" tooltipPosition="bottom" class="cursor-pointer" (click)="router.navigate([url])" />
    <span class="text-ellipsis text-nowrap overflow-hidden !max-w-[15ch]">{{ text ?? '--' }}</span>
    <fa-icon [icon]="faRetweet" [pTooltip]="tooltip" tooltipPosition="bottom" class="cursor-pointer" (click)="router.navigate([url])" />
    <fa-icon *ngIf="authService.isAdmin() && removable && customer()?.id != authService.user?.id" [icon]="faEyeSlash" [pTooltip]="removeTooltip" tooltipPosition="bottom" class="cursor-pointer" (click)="authService.customer = null" />
  </p-tag>
</ng-template>
