<p-card>
  <p-table [value]="loading ? Array.from(Array(paginateData.pageSize).keys()) : table.data" [lazy]="true" (onLazyLoad)="onSortChange($event)" [sortField]="table.preSort?.field" [sortOrder]="table.preSort?.descending ? 1 : -1">
    <ng-template #header>
      <tr>
        <th class="!text-center !w-1" *ngIf="table.navigators?.length"></th>
        <th *ngFor="let header of table.headers" [pSortableColumn]="header.sortable ? header.field : undefined" [ngClass]="header.center ? '!text-center' : ''">
          {{header.title}} <p-sortIcon *ngIf="header.sortable" [field]="header.field" />
        </th>
        <th class="!text-center !w-1" *ngIf="table.actions?.length">
          Ações
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-row>
      <tr *ngIf="!loading; else loadingBody">
        <td *ngIf="table.navigators?.length">
          <div class="flex gap-2">
            <p-button
              *ngFor="let navigator of table.navigators"
              pRipple
              (onClick)="onNavigate($event, navigator.id, row)"
              [severity]="navigator.severity ?? 'secondary'"
              [pTooltip]="navigator.tooltip"
              tooltipPosition="right"
              size="small"
            >
              <fa-icon [icon]="navigator.icon" [fixedWidth]="true"></fa-icon>
            </p-button>
          </div>
        </td>
        <td *ngFor="let header of table.headers">
          <div [ngSwitch]="header.type" [class]="header.center ? 'flex justify-center' : ''">
            <ng-container *ngSwitchCase="'boolean'">
              <i [class]="'pi ' + (getProp(row, header.field) ? 'pi-check' : 'pi-times')"></i>
            </ng-container>
            <ng-container *ngSwitchCase="'currency'">
              {{ getProp(row, header.field) | currency: 'BRL' }}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ getProp(row, header.field) | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ getProp(row, header.field) }} {{ header.unit }}
            </ng-container>
          </div>
        </td>
        <td *ngIf="table.actions?.length" class="w-1">
          <div class="flex items-center justify-center flex-nowrap text-nowrap">
            <p-button
              *ngFor="let action of table.actions"
              pRipple
              [icon]="'pi ' + action.icon"
              (onClick)="onAction($event, action.id, row)"
              text
              rounded
              [severity]="action.severity ?? 'info'"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="table.headers.length + (table.actions?.length ? 1 : 0)">
          <div class="flex flex-col items-center justify-center gap-3 my-2">
            <img ngSrc="assets/empty-table.png" width="256" height="175" alt="Nenhum resultado" aria-hidden="true" priority />
            <p class="text-lg font-bold">Nenhum resultado encontrado</p>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>
  <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginateData.pageSize" [totalRecords]="total" [rowsPerPageOptions]="[10, 20, 30]" />
</p-card>

<ng-template #loadingBody>
  <tr>
    <td *ngIf="table.navigators?.length">
      <p-skeleton height="1rem"/>
    </td>
    <td *ngFor="let _ of table.headers">
      <p-skeleton height="1rem"/>
    </td>
    <td *ngIf="table.actions?.length">
      <p-skeleton height="1rem"/>
    </td>
  </tr>
</ng-template>
