<p-dialog
  [(visible)]="visible"
  [draggable]="false"
  [header]="title"
  [dismissableMask]="true"
  (onHide)="onClose()"
  [modal]="true"
  appendTo="body"
>
  <div class="pt-2">
    <ng-content></ng-content>
  </div>
  <ng-template #footer>
    <p-button
      (onClick)="onClose()"
      outlined
      severity="secondary"
    >Cancelar</p-button>

    <p-button
      severity="primary"
      (onClick)="onSubmit()"
      [loading]="loading"
    >
      Salvar
    </p-button>
  </ng-template>
</p-dialog>
